/* Main App Background */
.stApp
{
    background: linear-gradient(
    135deg,
    #de760e 0%,
    #f2f6f9 50%,
    #06eb43 100%
    );
    min-height: 100vh;
    font-family: 'Segoe UI',sans-serif;
}
.card
{
    background-color: #ffffff;
    padding:25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}
h1,h2,h3
{
    color:#0f172a;
}
/* Metric box */
div[data-tesstid="metric-container"]
{
    background-color: #f8fafc;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.prediction-box
{
    background: linear-gradient(
    135deg,
    #dcfce7,
    #bbf7d0,
    );
    padding:22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #1453d1;
    margin-top: 15px;
}